@font-face {
    font-family: 'arcadepixregular';
    src: url('./fonts/arcadepi.ttf') format('ttf'),
         url('./fonts/arcadepi-webfont.woff2') format('woff2'),
         url('./fonts/arcadepi-webfont.woff') format('woff');
}

:root {
    font-family: 'arcadepixregular';
}

video {
    object-fit: fill;
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;   
}

.regVid {
    opacity: 0.9;
}
.logVid {
    opacity: 0.9;
}


audio {
    position: absolute;
    top: 90%;
    left: 0.5%;
    width: 250px;
    height: 50px;
    opacity: 0.1;
    border: none;    
} 

.melting {
    position: fixed;
    top: 13%;
    right: 1.5%;
    width: 300px;
    height: 237px;  
    background: url(../assets/images/melting2.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.welcome {
    position: fixed;
    top: 10%;
    left: 30%;
    width: 564px;
    height: 564px;  
    background: url(../assets/images/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

nav {
    background: url(../assets/images/navBg.jpg);
    background-repeat: repeat;
    overflow: hidden;
    opacity: 0.7;
    font-weight: bold;
    height: 60px;
    margin: 10px;
    padding: 2px 15px 10px 15px;   
}

.title {
    float: left;
    padding-top: 15px;
    width: 300px;
    height: 60px;
    background: url(../assets/images/titleBg.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #f0ec15;
    text-align: center;
    
    width: 110px;
    text-decoration: none;  
    font-size: 35px; 
}

a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 22px;
    width: 110px;
    text-decoration: none;  
    font-size: 25px;    
}

a.active {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 22px;
    width: 110px;
    text-decoration: none;
    font-size: 25px;       
    background: url(../assets/images/activeBg2.gif);
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
}

a.RegisterNavBar {
    background-color:rgba(208, 21, 241, 0.6);
} 

a.LoginNavBar {    
    background-color:rgba(208, 21, 241, 0.6);
}

label {
    display: none;   
}

input {     
    font-size: 20px; 
    font-family: 'arcadepixregular';
}

input::placeholder {
    color: rgb(167, 164, 164);
}

#username {
    padding: 10px; 
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    background: url(../assets/images/regback1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    border: none;
    width: 317px;
    color: rgb(188, 88, 206);
}

#password {
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    background: url(../assets/images/regback2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    border: none;
    width: 317px;
    color: rgb(188, 88, 206);
}
  
#kingdom {
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    background: url(../assets/images/regback3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    border: none;
    width: 317px;
    color: rgb(188, 88, 206);
}

p {
    padding: 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(224, 18, 97);
    width: 317px;
    height: 45px;
    font-weight: bold;
    border: none;
    text-align: center;
}

form {
    position:absolute;
    top:20%;
    left:35%;    
    padding: 20px 20px;
    margin: 20px 20px;
    box-sizing: border-box;  
}

/*
.registerForm {
    background: url(../assets/images/registerFormBg.jpg);
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
    opacity: 0.9;
}

.loginForm {
    background: url(../assets/images/loginFormBg.jpg);
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    opacity: 0.9;
}
*/

button {
    background: url(../assets/images/buttonBg.gif);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'arcadepixregular';   
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 20px 20px;
    border: none;
    position:absolute;
    top:80%;
    left:24%;
    width: 150px;
    height: 100px;
    color: rgb(219, 216, 216);
    border: none;  
    transition: 0.1s;  
    opacity: 0.7;  
}

.button :active {
    background: url(../assets/images/buttonBg2.gif);
    background-size: cover;  
}

button:focus {
    outline:0;
}

.gamerRegister {
    position: fixed;
    top: 15%;
    left: 42%;
    width: 209px;
    height: 384px;  
    background: url(../assets/images/gamerRegister.gif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.gamerLogin {
    position: absolute;
    top: 15%;
    left: 42%;
    width: 211.2px;
    height: 312px;
    background: url(../assets/images/gamerLogin.gif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}
