.battlePage .resources {
    position: absolute;
    top: 12%;
}

.battlePage .menu { 
  margin-top: -4%;
}

.battlePage .linkbutton p {
  color: rgb(176, 15, 204);
  background-color: rgb(18, 18, 41);
  opacity: 0.7;
}

.battlePage .menu img {
  opacity: 0.7;
}

.battlePage .resources {
  opacity: 0.7;
}