.lBuildingsPage {
  background: url(../assets/images/lBuiBg.jpg);
  position: absolute;  
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  left 0 bottom 0.1px;
}

.lBuildingsPage .menu p {
  color: rgb(36, 158, 195);
}

.lBuildingsPage .resources p {
  color: rgb(126, 13, 233);
}

.lBuildingsPage .menu img {   
  opacity: 0.8;
}

.lBuildingsPage .resources  {
  opacity: 0.7;
}