body{
  background-color: rgb(205, 205, 205);
}
.linkbutton {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(84, 84, 84);
  font-weight: bold;
}

.menu {
  padding-top: 150px;
  padding-left: 150px;
}

button {
  width: 150px;
  background-color: rgb(205, 205, 205);
  border: 0;
}

/* .building {
  background-color:red;
} */

img {
  width: 120px;
  height: 120px;
}

/* button[type=submit]{
  padding-left: 20px;
} */