.troops {
  color: white;
}

[class="1"] {
  background-color: rgb(228, 0, 202);
}

[class="2"] {
  background-color: purple;
}

[class="3"] {
  background-color: rgb(52, 1, 52);
}

[class="10"] {
  background-color: black;
}